<html>
  <head>
    <title>Audio challenge</title>

    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <script src="/static/recorderjs/recorder.js"></script>
    <script src="/static/audio.js"></script>

    <script src="/static/main.js"></script>
  </head>
  <body>
    <div id="recorder">
      Record!
    </div>


  </body>
</html>
